# Slack incoming webhook url for notifications.
# This variable is optional. If you leave this variable empty or commented, notifications will be disabled.
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxxxx/xxxxxx

# WHOIS and DNS Monitoring options
COMMANDS=--whois 'domain=yourdomain.tld' --dns 'domain=yourdomain.tld' --dns 'domain=ping.yourdomain.tld' --http 'url=https://ping.yourdomain.tld/robots.txt' --dns 'domain=yourdomain.tld;resolver=1.1.1.1'

